.bodynote {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-style: italic;
	font-weight: normal;
	color: #000000;
}
.bodybold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.headtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
.redbody {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-style: normal;
	font-weight: bold;
	color: #CC0000;
	text-decoration: none;
}

.reminder {
	background-color: red;
	font-size: 16px;
	font-weight: bold;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	vertical-align: top;

}
th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	vertical-align: top;
	text-align: left;


}
input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
caption {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
